body{
  margin: 15px;
  background-image: url("../img/pattern.jpg");
  background-size: cover;
}

div .card{
  margin: 20px;
}

form{
  margin: 20px;
}

input{
  margin: 15px;
}

button {
  margin: 20px;
  background-color: #e87a99;
  margin-left: 65px;
}

#result {
  text-align: center;
  font-size: 50px;
}

.jumbotron {
  background-color: #f9c5c5;
  position: relative;
}

.card-body {
  background-color: #f9c5c5;
}

#pig{
  width: 200px;
  position: absolute;
  right: -10px;
  z-index: 2;
}

#bub{
  width: 200px;
  position: absolute;
  right: 110px;
  z-index: 3;
  top: 100px;

}



div .bubble{
  width: 183px;
  position: absolute;
  height: 84px;
  right: 115px;
  bottom: 20px;
  z-index: 4;
  padding: 9px;
}
